.end {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 30px;

    p {
      font-size: 14px;
    }

    span {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
