.nav {
  padding: 30px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-mobile {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 50px;
  }

  .nav-btn {
    background-color: $primary-color;
    padding: 9px 15px;
    border: none;
    color: #fff;
    transition: all 0.4s ease;

    &:hover {
      background-color: #1b3a48;
    }
  }
}

@media (max-width: 1024px) {
  .nav-links {
    gap: 20px !important;
  }
}

@media (max-width: 830px) {
  .nav-links {
    display: none !important;
  }

  .nav-mobile {
    display: block !important;
    color: #fff !important;
    margin-left: auto;
    margin-right: 10px;
  }
}
